body{
  background:linear-gradient(135deg, #ff6b6b, #51cf66);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

*{
  margin: 0;
  padding: 0;
}

.box{
  border: 2px solid black;
  width: 700px;
  height: 400px;
  padding: 40px;
  margin: 40px;
  display: flex;
align-items: center;
border-radius: 20px;
overflow: hidden;

}

.left{
  flex: 1;
  height: 100%;
    background: rgba(255,255,255,0.35);
    padding: 30px;
    border-radius: 20px;
  
}

.right{
flex: 1;
  height: 100%;
    background: rgba(255,255,255,0.15);
    padding: 30px;
    display: grid;
    gap: 20px;
    border-radius: 20px;
  
}
.right input{
    background: rgba(255,255,255,0.35);
    border-radius: 20px;
    border: none;
    font-size: 16px;
}
.right button{
  background-color: grey;
  border-radius: 20px;
  color: white;
  font-size: 20px;
  justify-self: center;
  padding: 10px;
  
}

.right button:hover{
  cursor: pointer;
  transform:scale(1.03);
    transition:0.3s;
background-color: black;
}
